<ion-view title="Confirm Page">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list"></form>
        <div>
            <p>"I am consenting to be an organ donor after my death."</p>
        </div>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" name="Accept">Accept</ion-toggle>
        </form>
        <button class="button button-stable button-block  icon-right ion-android-done">Confirm</button>
        <a ui-sref="organsDetails" class="button button-stable button-block  icon-left ion-android-arrow-back">Back: Organs Details</a>
    </ion-content>
</ion-view>