<ion-view cache-view="false" view-title="Donor">
	<ion-content class="padding">
		<div class="row margin-bottom-30">
            <div class="col">
                <h2 class="title">Organator</h2>
            </div>
        </div>
		<div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Username">
          </label>

          <label class="item item-input">
            <input type="text" placeholder="Password">
          </label>

		<ion-checkbox ng-model="filter.blue">Remember Me</ion-checkbox>
	</div>
		<div class="row">
            <button class="button button-full button-positive" ng-click="auth_true()">
              Sign In
            </button>
		</div>

        <div class="row">
            <button class="button button-full button-clear button-positive title" ng-click="forgot_password()">
				Forget Password?
			</button>
        </div>

		<h3>OR</h3>
		<div class="row">
            <button class="button button-block button-balanced" ng-click="auth_true()">
              Sign In With Medical Id
            </button>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-stable center">
		<div>
		<button class="button button-clear button-positive title" ng-click="new_user_clicked()">
				New User?
			</button>
			</div>
	</ion-footer-bar>
</ion-view>
