<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Donor</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()" name="loginForm">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="loginData.username" ng-minlength="3" ng-maxlength="30" required>
        </label>        
        <div ng-messages="loginForm.username.$error"
        class="form-errors" ng-if="loginForm.username.$touched">
            <div ng-messages-include="template/error-messages.html" ></div>
        </div>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginData.password" ng-minlength="6" ng-maxlength="30" required>
        </label>
        <div ng-messages="loginForm.password.$error"
        class="form-errors" ng-if="loginForm.username.$touched">
          <div ng-messages-include="template/error-messages.html" ></div>
        </div>
		<ion-checkbox ng-model="filter.blue">Remember Me</ion-checkbox>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-disabled="loginForm.$invalid" ng-click="auth_true()">Sign In</button>
        </label>
      </div>
	  
	   <div class="row">
            <button class="button button-full button-clear button-positive title" ng-click="forgot_password()">
				Forget Password?
			</button>
        </div>

		<h3 style="text-align:center;">OR</h3>
		<div class="row">
            <button class="button button-block button-balanced" ng-click="auth_true()">
              Sign In With Medical Id
            </button>
		</div>
    </form>
  </ion-content>
  <ion-footer-bar class="bar-stable center">
		<div>
		<button class="button button-clear button-positive title" ng-click="new_user_clicked()">
				New User?
			</button>
			</div>
	</ion-footer-bar>
</ion-modal-view>
