<ion-view cache-view="false" view-title="List of Donors">
	<ion-content class="padding">
        <input type="text" ng-model="filterCriteria">
<!--
        <div class="card row" ng-repeat="donor in listOfDonors | filter: filterCriteria">
            <div class="item item-text-wrap">
                
              <h2>{{ donor.name }}</h2>
              <p>{{ donor.country }}</p>
                <button>Contact</button>
            </div>
        </div>
-->
        <div class="list">
            <a class="item item-avatar" href="#" ng-repeat="donor in listOfDonors | filter: filterCriteria">
              <img src="../img/logo.jpg">
              <h2>{{ donor.name }}</h2>
              <p>Country: {{ donor.country }}<br>
                 Province: {{ donor.province }}<br>
                 Blood Type: {{donor.bloodType}}<br>
                 Age: {{donor.age}}<br>
                 Organs: <span ng-repeat="(key, val) in donor.organs"> {{ val }} </span>
              </p>
                
            </a>
        </div>
	</ion-content>
</ion-view>