<ion-view cache-view="false" view-title="Hospital">
	<ion-content class="padding">
        <div class="list margin-top-50">
          <label class="item item-input margin-top-50">
            <span class="input-label">Hospital Code</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
            <button class="button button-positive button-full" ng-click="hospital_login_clicked()">
              SignIn
            </button>
        </div>
	</ion-content>
</ion-view>