<ion-view cache-view="false" view-title="List of Donors">
	<ion-content class="padding">
        <input type="text" ng-model="filterCriteria">
<!--
        <div class="card row" ng-repeat="donor in listOfDonors | filter: filterCriteria">
            <div class="item item-text-wrap">
                
              <h2>{{ donor.name }}</h2>
              <p>{{ donor.country }}</p>
                <button>Contact</button>
            </div>
        </div>
-->
        <div class="list" data-ng-init="getDonors()">
            <a class="item item-avatar" href="#" ng-repeat="donor in donorList">
              <img src="../img/logo.jpg">
              <h2>{{ donor.name }}</h2>
              <p>Sex: {{ donor.sex }}<br>
                 Blood Group: {{ donor.bloodGroup }}<br>
				 
                <!-- Blood Type: {{donorList.bloodType}}<br>
                 Age: {{donorList.age}}<br>
                 Organs: <span ng-repeat="(key, val) in donor.organs"> {{ val }} </span> -->
              </p>
                
            </a>
        </div>
	</ion-content>
</ion-view>