<ion-view cache-view="false" view-title="Hospital">
	<ion-content class="padding" has-header="true" padding="true">
		<div class="row margin-bottom-10">
				<img src="/img/icon.jpg" width="10%" class="col" height="auto">
		</div>
        <div class="list margin-top-50">
          <label class="item item-input margin-top-50">
            <span class="input-label">Hospital Code</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
					<label>
						<ion-checkbox ng-model="isChecked">Terms and Conditions</ion-checkbox>
					</label>
						<button class="button button-positive button-full" ng-click="hospital_login_clicked()">
              Sign In
            </button>
        </div>
				  <h4 style="text-align:center; margin-top: 40px">Don't have a code?</h4>
					<button class="button button-full button-light">
  						Request for Code
					</button>

	</ion-content>
</ion-view>
