<ion-view title="Personal Details">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <h3>Personal Details</h3>
        <form class="list">
            <label class="item item-input" name="Last Name">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="First Name">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="Health Insurance Number">
                <span class="input-label">Health Insurance Number</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="Date of Birth">
                <span class="input-label">Date of Birth</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" name="Blood Group">
                <span class="input-label">Blood Group</span>
                <input type="text" placeholder="">
            </label>
            <h4>Sex</h4>
            <ion-radio name="Sex">Male</ion-radio>
            <ion-radio name="Sex">Female</ion-radio>
        </form>
        <a ui-sref="addressDetails" class="button button-stable button-block  icon-right ion-android-arrow-forward" ng-click="valid_persoDetails()">Next : Address Details</a>
    </ion-content>
</ion-view>
