<ion-view title="Sign Up">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/userIcon.png" width="10%" height="auto">
        </div>
        <h2 style="text-align:center;">Register as a Donor</h2>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="Email Address">
                    <span class="input-label">Email Address</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label>
      						<ion-checkbox ng-model="isChecked">Terms and Conditions</ion-checkbox>
      					</label>
            </ion-list>
            <button class="button button-positive button-block " ng-click="add_user()">Sign Up</button>
        </form>
    </ion-content>
</ion-view>
