<ion-view title="Sign Up">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/userIcon.png" width="10%" height="auto">
        </div>
        <h2 style="text-align:center;">Register as a Donor</h2>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="user">
                    <span class="input-label">Email Address</span>
                    <input type="email" ng-model="signup.email" required>
                </label>
                <label class="item item-input" name="email">
                    <span class="input-label">Confirm Email Address</span>
                    <input type="email" ng-model="signup.email2" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="signup.password" required>
                </label>

            </ion-list>
            <button class="button button-positive button-block " ng-click="signupEmail()"  ng-disabled="signup.$invalid" >Sign Up</button>
            <div class="form-errors" ng-if="signup.email != signup.email2">
            <span>Not Matching</span>
<!--          <div class="form-error" ng-message="required">Please enter your Health Insurance Number</div>-->
        </div>
        </form>
    </ion-content>
</ion-view>
