/* Empty. Add your own CSS if you like */

/*Margin*/
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-50 { margin-right: 50px; }
.margin-right-100 { margin-right: 100px; }

.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-bottom-100 { margin-bottom: 100px; }

.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-100 { margin-top: 100px; }

.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-50 { margin-left: 50px; }
.margin-left-100 { margin-left: 100px; }

.title{
	text-align: center;
}

.row{
	text-align: center;
	align-content: center;
}
h3{
	text-align: center;
}
/*
.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
*/
