#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}