#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 178px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-082f1768-7354-403c-9a02-e9bb8fcde90e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}