#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-ok-green {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2605cfe0-cb4b-43cf-874c-1a33e675adbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}