#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-close_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-close_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5b315b82-8340-4c8a-9dd1-f97ff6d388ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}