#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Tab-bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_469 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Line_1 {
  rotation: 90.0;
  margin-left: 25px;
  margin-top: -25px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Label_470 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8ecd44d5-bbc0-435b-8bcf-bdbbbc1b78ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}