#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Header-top {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 109px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  opacity: 0.96;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_431 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_2 {
  position: absolute;
  top: 37px;
  left: 13px;
  width: 37px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Statusbar-black {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_1 {
  position: absolute;
  top: 120px;
  left: 0px;
  width: 371px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_2 {
  position: absolute;
  top: 179px;
  left: 0px;
  width: 371px;
  height: 57px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_3 {
  position: absolute;
  top: 239px;
  left: 0px;
  width: 371px;
  height: 423px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_2 {
  position: absolute;
  top: 93px;
  left: 0px;
  width: 375px;
  height: 27px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Line_2 {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 375px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_2 {
  position: absolute;
  top: 0px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Up-down {
  position: absolute;
  top: 139px;
  left: 312px;
  width: 58px;
  height: 32px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_54 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_54 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_54 span#rtr-s-Label_54_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_57 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_57 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_57 span#rtr-s-Label_57_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Up-down_1 {
  position: absolute;
  top: 197px;
  left: 309px;
  width: 58px;
  height: 32px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_55 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_55 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_55 span#rtr-s-Label_55_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_58 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_4 {
  position: absolute;
  top: 252px;
  left: 83px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Line_3 {
  position: absolute;
  top: 288px;
  left: 33px;
  width: 305px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_60 {
  position: absolute;
  top: 254px;
  left: 334px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_60 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Label_60 span#rtr-s-Label_60_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_1 {
  position: absolute;
  top: 311px;
  left: 40px;
  width: 119px;
  height: 71px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-ok-blue {
  position: absolute;
  top: 12px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-ok-blue .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-ok-blue span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-ok-blue span#rtr-s-ok-blue_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_5 {
  position: absolute;
  top: 46px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 53px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_3 {
  position: absolute;
  top: 317px;
  left: 232px;
  width: 107px;
  height: 64px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-ok-blue_1 {
  position: absolute;
  top: 5px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-ok-blue_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-ok-blue_1 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-ok-blue_1 span#rtr-s-ok-blue_1_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_6 {
  position: absolute;
  top: 39px;
  left: 54px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 54px;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_4 {
  position: absolute;
  top: 407px;
  left: 41px;
  width: 109px;
  height: 67px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_7 {
  position: absolute;
  top: 42px;
  left: 53px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 46px;
  width: 63px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_1 {
  position: absolute;
  top: 11px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_1 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_1 span#rtr-s-Check-box_1_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_5 {
  position: absolute;
  top: 409px;
  left: 232px;
  width: 108px;
  height: 64px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_8 {
  position: absolute;
  top: 39px;
  left: 47px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 46px;
  width: 54px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_2 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_2 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_2 span#rtr-s-Check-box_2_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_6 {
  position: absolute;
  top: 496px;
  left: 41px;
  width: 101px;
  height: 67px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_9 {
  position: absolute;
  top: 42px;
  left: 54px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_9 {
  position: absolute;
  top: 0px;
  left: 51px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_4 {
  position: absolute;
  top: 11px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_4 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_4 span#rtr-s-Check-box_4_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_7 {
  position: absolute;
  top: 492px;
  left: 234px;
  width: 106px;
  height: 71px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_10 {
  position: absolute;
  top: 46px;
  left: 46px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_7 {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_5 {
  position: absolute;
  top: 17px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_5 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_5 span#rtr-s-Check-box_5_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Group_8 {
  position: absolute;
  top: 579px;
  left: 41px;
  width: 101px;
  height: 75px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_11 {
  position: absolute;
  top: 50px;
  left: 57px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Image_10 {
  position: absolute;
  top: 0px;
  left: 51px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_6 {
  position: absolute;
  top: 11px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_6 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Check-box_6 span#rtr-s-Check-box_6_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Button-red {
  position: absolute;
  top: 42px;
  left: 296px;
  width: 66px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Helvetica,Arial;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Button-red .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Button-red span {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 #s-Button-red span#rtr-s-Button-red_0 {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ac2d2f49-e520-41d8-b8ef-36fb596dfd51 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}