#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-ok-green {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d #s-Button-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f63bf967-ca39-478e-990f-7640a4b9a10d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}